$main-color: #70b44f;
$sub-color: #4c86b2;
$error: #d10000;
$background-main: #f0f5f9;
$title-light: #929292;
$title-dark: #464646;
$text-color: #737272;
$background-title: #63b3d5;
$border-color: #b6b6b6;