@import "./colors";
@import "./globals";
@import "./mixins";
@import "./funtions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: $root-font-size;
  font-family: $font;
}
