* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    /* Sayfa yüksekliğini en az görünüm yüksekliğine ayarlar */
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 320px) {

    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }
}

.video-section {
    padding: 20px;
}

.our_populars {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.95em;
}

.section-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin: 0;
    position: relative;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.marker {
    display: inline-block;
    border: 2px solid #4A90E2;
    /* Dış çerçevenin rengi */
    border-radius: 8px;
    /* Köşeleri yuvarlak */
    padding: 10px;
    margin: 5px;
    width: 100%;
    background-color: #EAF4FD;
    /* Arka plan rengi */
    color: #333;
    /* Yazı rengi */
}

.marker span {
    display: block;
    overflow-wrap: break-word;
}

.courseType {
    font-weight: bold;
    font-size: 16px;
}

.courseTypeSpecification {
    font-size: 14px;
}